.jumbotron{
    color: white;
    background-size: cover;
    background-image: url("background.jpg");
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
    box-shadow: inset 0 0 0 1000px rgba(1, 7, 10, 0.74);
}

.article-link {
    color: white;
    display: inline-block;
    width: 75%;
}

a:hover, .article-link{
    color: white ;
  }

.empty {
      background: orange;
      color: white;
      text-align: center;
  }


